<main class="HomePage">
  <button
    class="NewPostBTN"
    *ngIf="currentView === Creator"
    (click)="createNewPost()"
  >
    CREATE NEW POST
  </button>
  <h1 class="BlogName">Baxter's blog</h1>
  <div class="PostsCont">
    <section class="OnePost">
      <h3 class="PostTitle">A walk in the laveder field</h3>
      <img class="PostPic" src="../../../assets/lavender-field.jpeg" />
    </section>
    <section class="OnePost">
      <h3 class="PostTitle">A walk in the laveder field</h3>
      <img class="PostPic" src="../../../assets/lavender-field.jpeg" />
    </section>
    <section class="OnePost">
      <h3 class="PostTitle">A walk in the laveder field</h3>
      <img class="PostPic" src="../../../assets/lavender-field.jpeg" />
    </section>
  </div>
</main>
