<main class="CreateNewPost">
  <h1 class="AboutTitle">Create new post</h1>
  <div class="NewPostCont">
    <form class="NewPostForm">
      <input
        class="SmallInput"
        type="text"
        id="postTitle"
        name="postTitle"
        placeholder="Title"
        [(ngModel)]="postTitle"
      />

      <textarea
        class="BigTextarea"
        id="postBody"
        name="postBody"
        placeholder="Your post"
        [(ngModel)]="postBody"
      ></textarea>
      <input
        class="SmallInput"
        type="text"
        id="tags"
        name="tags"
        placeholder="Tags"
        [(ngModel)]="postTags"
      />
      <label class="FileInput">
        <input
          class="Hidden"
          type="file"
          id="postPic"
          name="postPic"
          accept="image/*"
          [(ngModel)]="postPic"
          (change)="handleFileInput($event)"
        />
        <span>IMG</span>
      </label>
      <img
        *ngIf="postPic"
        [src]="getImageUrl()"
        alt="Image Preview"
        height="100"
      />
      <button class="PostBTN">POST</button>
    </form>
  </div>
</main>
