.NewPostBTNCont {
  display: flex;
  justify-content: center;
}
.NewPostBTN {
  background: transparent;
  border: none;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgb(158, 116, 170, 0.5);
  border-radius: 15px;
  color: rgb(129, 86, 141);
  font-weight: bolder;
}
.NewPostBTN:hover {
  cursor: pointer;
  scale: 105%;
  box-shadow: 3px 3px 3px 3px rgb(158, 116, 170, 0.5);
}
