<header>
  <div class="ViewBTNContainer">
    <div class="CurrentView">{{ getViewButtonText() }}</div>
    <button class="ToggleViewBTN" (click)="toggleView()">
      <div class="EyeCont">
        <div class="BigRound">
          <div class="LittleRound"></div>
        </div>
      </div>
    </button>
  </div>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/Home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          HOME
        </a>
      </li>

      <span class="Divider">|</span>

      <li>
        <a
          routerLink="/About"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          ABOUT
        </a>
      </li>
    </ul>
  </nav>
</header>
<main></main>

<router-outlet></router-outlet>
