<header>
  <button class="ToggleViewBTN" (click)="toggleView()">
    <div class="EyeCont">
      <div class="BigRound">
        <div class="LittleRound"></div>
      </div>
    </div>
  </button>
  <nav>
    <ul>
      <li>
        <a
          routerLink="/Home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Home
        </a>
      </li>
      <li>
        <a
          routerLink="/About"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          About
        </a>
      </li>
    </ul>
  </nav>
</header>
<main></main>

<router-outlet></router-outlet>
