header {
  height: 5rem;
  background-color: var(--primaryDark);
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  box-shadow: 3px 3px 3px var(--boxShadow);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover {
  color: var(--primaryLight);
}
.Divider {
  font-size: 1.5rem;
  color: var(--primaryLight);
}
.ToggleBTN {
  box-shadow: none;
}
.Eye {
  height: 40px;
  aspect-ratio: 1;
  background: var(--eyePrimary);
  border-radius: 25px 0 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Eye.View {
  transform: rotate(65deg);
}
.Eye.Theme {
  transform: rotate(26deg);
}
.Round {
  background: var(--eyeColor);
  height: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px var(--eyeShadow) inset;
}
.Round.View {
  transform: rotate(-20deg);
}

.Dot {
  background: var(--eyePrimary);
  height: 9px;
  aspect-ratio: 1;
  border-radius: 100%;
  border: 2px solid var(--eyeBorder);
}

.Current {
  color: var(--eyePrimary);
  font-size: 10px;
}
