<header>
  <nav>
    <button class="ToggleBTN" (click)="toggleView()">
      <div class="Current">{{ getViewButtonText() }}</div>
      <div class="Eye View">
        <div class="Round View">
          <div class="Dot"></div>
        </div>
      </div>
    </button>

    <ul>
      <li>
        <a
          routerLink="/Home"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          HOME
        </a>
      </li>
      <span class="Divider">|</span>
      <li>
        <a
          routerLink="/About"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          ABOUT
        </a>
      </li>
    </ul>

    <button class="ToggleBTN" (click)="toggleTheme()">
      <div class="Current">{{ getThemeButtonText() }}</div>
      <div class="Eye Theme">
        <div class="Round Theme">
          <div class="Dot"></div>
        </div>
      </div>
    </button>
  </nav>
</header>
<main></main>

<router-outlet></router-outlet>
