:root {
  --primaryLight: rgb(233, 216, 238);
  --primaryDark: rgb(150, 95, 145);
  --boxShadow: rgba(150, 95, 145, 0.3);
  --fontShadow: rgba(150, 95, 145, 0.5);
}
* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  color: var(--primaryDark);
}
body {
  background-color: var(--primaryLight);
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}
h1 {
  text-shadow: 3px 3px 4px var(--fontShadow);
  font-size: 1.5rem;
}
h3 {
  text-shadow: 3px 3px 3px var(--fontShadow);
}
.BodyText {
  color: black;
}
/*BUTTONS*/
button,
input[type="submit"] {
  background: none;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px var(--boxShadow);
  width: fit-content;
}
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  scale: 110%;
  box-shadow: 3px 3px 3px 3px var(--boxShadow);
}

/*INPUTS & TEXTAREAS*/
input,
textarea {
  background: none;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  color: black;
}
input:hover,
textarea:hover {
  cursor: pointer;
  scale: 110%;
}
.SmallInput {
  height: 1.5rem;
  width: 8rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
.SmallTextarea {
  height: 5rem;
  width: 10rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
