:root {
  --lightPurple: rgb(233, 216, 238);
  --white: rgb(255, 255, 255);
  --darkerHover: rgb(244, 161, 206);
  --darkPurple: rgba(158, 116, 170, 0.8);
}
* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}
body {
  background-color: var(--lightPurple);
}

header {
  height: 5rem;
  background-color: var(--darkPurple);
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  box-shadow: 3px 3px 3px rgb(158, 116, 170, 0.5);
}
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  gap: 2rem;
}
.Divider {
  font-size: 1.5rem;
  color: var(--lightPurple);
}
.ToggleViewBTN {
  position: absolute;
  height: 45px;
  width: 55px;
  background: transparent;
  border: none;
  border-top: 0.7px solid rgb(67, 14, 81, 0.5);
  border-radius: 60px 0 60px 0;
  transform: rotate(50deg);
  margin: 0.4rem;
}
.EyeCont {
  height: 35px;
  width: 40px;
  background: rgba(173, 134, 185, 0.1);
  border: none;
  color: var(--lightPurple);
  box-shadow: -1px 2px 4px rgb(67, 14, 81, 0.5);
  border-radius: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(181deg);
  margin-left: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  border: 0.2px solid rgb(67, 14, 81, 0.2);
}
.BigRound {
  background: rgb(140, 99, 152, 0.5);
  height: 85%;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px rgb(67, 14, 81, 0.3) inset;
  transform: rotate(-20deg);
  margin-right: 1px;
  margin-top: 4px;
}
.LittleRound {
  background: rgba(67, 14, 81, 0.4);
  height: 40%;
  aspect-ratio: 1;
  border-radius: 100%;
  box-shadow: 3px 3px 3px rgb(67, 14, 81, 0.6) inset;
  transform: rotate(0deg);
}
.ToggleViewBTN:hover {
  cursor: pointer;
  scale: 110%;
}
