:root.Grape {
  --primaryLight: rgb(233, 216, 238);
  --primaryDark: rgb(150, 95, 145);
  --boxShadow: rgba(150, 95, 145, 0.3);
  --fontShadow: rgba(150, 95, 145, 0.5);
  --eyePrimary: rgb(85, 33, 71);
  --eyeColor: rgb(122, 61, 118);
  --eyeShadow: rgb(99, 45, 99);
  --eyeBorder: rgba(67, 26, 56, 0.5);
}
:root.Ocean {
  --primaryLight: rgb(224, 222, 233);
  --primaryDark: rgb(84, 114, 189);
  --boxShadow: rgb(84, 114, 189, 0.3);
  --fontShadow: rgb(84, 114, 189, 0.5);
  --eyePrimary: rgb(33, 37, 85);
  --eyeColor: rgb(53, 84, 169);
  --eyeShadow: rgb(36, 56, 113);
  --eyeBorder: rgb(27, 30, 69);
}
* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
  color: var(--primaryDark);
}
body {
  background-color: var(--primaryLight);
}
.HomePage,
.BlogPost,
.AboutPage,
.CreateNewPost {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
h1 {
  text-shadow: 3px 3px 4px var(--fontShadow);
  font-size: 2rem;
}
h2,
h3 {
  text-shadow: 3px 3px 3px var(--fontShadow);
}
.BodyText {
  color: black;
}

/*INPUTS & TEXTAREAS*/
input,
textarea,
label {
  background: none;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  color: black;
}
input:hover,
textarea:hover,
label:hover {
  cursor: pointer;
  scale: 105%;
}
.XSInput {
  height: 1.5rem;
  width: 4rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
.SmallInput {
  height: 1.5rem;
  width: 8rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
.BiggerInput {
  height: 1.5rem;
  width: 10rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
.SmallTextarea {
  height: 5rem;
  width: 10rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
.BigTextarea {
  height: 20rem;
  width: 15rem;
  background: var(--boxShadow);
  padding: 0.3rem;
}
/*BUTTONS*/
button {
  background: none;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 1rem;
  max-height: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 2px 2px var(--boxShadow);
  width: fit-content;
  color: var(--primaryDark);
}
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
  scale: 110%;
  box-shadow: 3px 3px 3px 3px var(--boxShadow);
}

/*DELETE BUTTON*/
.DeleteBTN {
  display: flex;
  justify-content: center;
  align-items: center;
}
.DeleteBTN:hover {
  color: red;
}

/*SAVE BUTTON*/
.SaveBTN,
input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryDark);
  color: white;
  padding: 0.5rem;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 1rem;
}
/*EDIT BUTTON*/
.EditBTN {
  display: flex;
  justify-content: center;
  height: 35px;
  width: 15px;
  border-radius: 4px 4px 50% 50%;
  padding: 0;
  border-top: 9px solid var(--primaryDark);
  transform: rotate(45deg);
  box-shadow: 1px 1px 1px 1px var(--boxShadow);
  gap: 12px;
}
.EditBTN.Picture,
.EditBTN.Body {
  margin-top: -1.5rem;
}
.PenSide {
  height: 20px;
  width: 1.5px;
  background: var(--primaryDark);
}
.PenMid {
  height: 20px;
  width: 2px;
  border-right: 1px solid var(--primaryDark);
  border-left: 1px solid var(--primaryDark);
  position: absolute;
}
.PenSideAngle {
  position: absolute;
  height: 12px;
  width: 1.5px;
  background: var(--primaryDark);
  margin-top: 20px;
}
.PenSideAngle.One {
  transform: rotate(28deg);
  margin-left: 7px;
}
.PenSideAngle.Two {
  transform: rotate(-28deg);
  margin-right: 8px;
}
.PenTip {
  margin-top: 27px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid var(--primaryDark);
  position: absolute;
}
.PenSmallLine {
  margin-top: 20px;
  width: 15px;
  height: 1px;
  background: var(--primaryDark);
  position: absolute;
}
.EditBTN:hover {
  box-shadow: 1.5px 1.5px 1.5px 1.5px var(--boxShadow);
}
