<main class="BlogPost">
  <h1 class="PostTitle">My post title</h1>
  <div class="BlogPostCont">
    <section class="BlogPostContent">
      <div class="PicBody">
        <img class="PostPic" [src]="post.thumbnailUrl" alt="Post Image" />
        <p class="BodyText">{{ post.body }}</p>
      </div>
      <div class="Tags">
        <p class="Tag" *ngFor="let tag of post.tags; let last = last">
          #{{ tag }}
        </p>
      </div>
    </section>
    <section class="Interactions">
      <div class="Reactions">
        <div class="React">
          <button class="LikeBTN" (click)="increaseLikes()">
            <div class="Heart One"></div>
            <div class="Heart Two"></div>
          </button>
          <span class="NoOf Like">{{ post.likes }}</span>
        </div>
        <div class="React">
          <button class="DontLikeBTN" (click)="increaseDislikes()">X</button>
          <span class="NoOf DontLike">{{ post.dislikes }}</span>
        </div>
      </div>
      <div class="Comments">
        <div class="OneComment" *ngFor="let comment of post.comments">
          <p class="Comment">{{ comment.text }}</p>
          <span class="CommentName">{{ comment.name }}</span>
        </div>

        <form class="NewComment" (ngSubmit)="addComment()">
          <input
            class="BiggerInput"
            type="text"
            id="comment"
            name="comment"
            placeholder="Comment.."
            [(ngModel)]="newComment.text"
          />
          <input
            class="XSInput"
            type="text"
            id="name"
            name="name"
            placeholder="Name.."
            [(ngModel)]="newComment.name"
          />
          <input
            class="SaveBTN"
            type="submit"
            name="addComment"
            id="addComment"
            value="+"
          />
        </form>
      </div>
    </section>
  </div>
</main>
