<main class="BlogPost">
  <h1 class="BlogName">Baxter's blog</h1>
  <div class="BlogPostCont">
    <section class="BlogPostContent">
      <h2 class="PostTitle">Title</h2>
      <div class="PicBodyTags">
        <img class="PostPic" src="../../../assets/baxi.png" />
        <div class="BodyTags">
          <p class="BodyText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac
            auctor augue mauris augue. Ultricies mi eget mauris pharetra et
            ultrices. Enim sed faucibus turpis in eu. A diam sollicitudin tempor
            id. Risus in hendrerit gravida rutrum quisque. Commodo viverra
            maecenas accumsan lacus vel facilisis. Id neque aliquam vestibulum
            morbi blandit cursus risus at. Enim diam vulputate ut pharetra. In
            dictum non consectetur a erat nam at lectus urna. Viverra vitae
            congue eu consequat ac felis. Euismod in pellentesque massa placerat
            duis ultricies lacus sed turpis. In cursus turpis massa tincidunt
            dui ut ornare. Non diam phasellus vestibulum lorem sed risus
            ultricies. Ut faucibus pulvinar elementum integer enim neque
            volutpat ac tincidunt.
          </p>
          <p class="PostTags">Tags</p>
        </div>
      </div>
    </section>
    <section class="Interactions">
      <div class="Reactions">
        <button class="LikeBTN">Like</button><span class="NoOf">3likes</span>
        <button class="DontLikeBTN">Don't Like</button
        ><span class="NoOf">3 dislike</span>
      </div>
      <div class="Comments">
        <div class="OneComment">
          <p class="Comment">This is a comment</p>
          <span class="CommentName">Prince</span>
        </div>
      </div>

      <form class="NewComment">
        <input
          class="BiggerInput"
          type="text"
          id="comment"
          name="comment"
          placeholder="Comment.."
        />
        <input
          class="SmallInput"
          type="text"
          id="name"
          name="name"
          placeholder="Name.."
        />
        <input
          class="AddCommentBTN"
          type="submit"
          name="addComment"
          id="addComment"
          value="Add"
        />
      </form>
    </section>
  </div>
</main>
