<main class="AboutPage">
  <div class="AboutTitleCont">
    <h1 class="AboutTitle" *ngIf="!editNameFields">
      {{ creator.firstName }} {{ creator.lastName }}
    </h1>
    <button
      class="EditBTN Name"
      *ngIf="currentView === Creator && !editNameFields"
      (click)="onEditName()"
    >
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
    <div class="EditMode" *ngIf="editNameFields">
      <input class="SmallInput" type="text" [(ngModel)]="creator.firstName" />
      <input class="SmallInput" type="text" [(ngModel)]="creator.lastName" />
      <button class="SaveBTN" (click)="onSave()">SAVE</button>
    </div>
  </div>
  <div class="AboutCont">
    <img class="AboutPic" src="../../../assets/baxi.png" />
    <button
      class="EditBTN Picture"
      (click)="onEditImage()"
      *ngIf="currentView === Creator"
    >
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
    <p class="BodyText" *ngIf="!editBodyFields">{{ creator.body }}</p>
    <button
      class="EditBTN Body"
      (click)="onEditBody()"
      *ngIf="currentView === Creator && !editBodyFields"
    >
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
    <div class="EditMode" *ngIf="editBodyFields">
      <textarea
        class="BigTextarea"
        type="text"
        [(ngModel)]="creator.body"
      ></textarea>
      <button class="SaveBTN" (click)="onSave()">SAVE</button>
    </div>
  </div>

  <div class="FormCont">
    <div class="Confirm" *ngIf="sent">
      Thank you for your message! I will answer you as soon as possible!
    </div>
    <button class="ContactMeBTN" (click)="showFormFields = !showFormFields">
      CONTACT ME HERE
    </button>
    <form class="FormFields" *ngIf="showFormFields">
      <div class="Column">
        <input
          class="SmallInput"
          type="text"
          id="firstName"
          name="firstname"
          placeholder="First name"
          [(ngModel)]="firstName"
        />
        <input
          class="SmallInput"
          type="text"
          id="lastName"
          name="lastname"
          placeholder="Last name"
          [(ngModel)]="lastName"
        />
        <input
          class="SmallInput"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
        />
      </div>
      <div class="Column">
        <textarea
          class="SmallTextarea"
          id="message"
          name="message"
          placeholder="Your message.."
          [(ngModel)]="message"
        ></textarea>
        <input
          class="SaveBTN"
          type="submit"
          name="send"
          id="send"
          value="SEND"
          (click)="onSubmit()"
        />
      </div>
    </form>
  </div>
</main>
