<main class="AboutPage">
  <div class="AboutTitleCont">
    <h1 class="AboutTitle" *ngIf="!showEditMode">
      {{ creator.firstName }} {{ creator.lastName }}
    </h1>
    <button
      class="EditBTN Name"
      *ngIf="currentView === Creator"
      (click)="onEdit('firstName')"
    >
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
    <div *ngIf="showEditMode">
      <input class="SmallInput" type="text" [(ngModel)]="creator.firstName" />
      <input class="SmallInput" type="text" [(ngModel)]="creator.lastName" />
      <button (click)="onSave()">Save</button>
    </div>
  </div>
  <div class="AboutCont">
    <img class="AboutPic" src="../../../assets/baxi.png" />
    <button class="EditBTN Picture" *ngIf="currentView === Creator">
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
    <p class="BodyText">My name is Baxter, i'm 5 yo.</p>
    <button class="EditBTN Body" *ngIf="currentView === Creator">
      <div class="PenSide"></div>
      <div class="PenMid"></div>
      <div class="PenSide"></div>
      <div class="PenSideAngle One"></div>
      <div class="PenSideAngle Two"></div>
      <div class="PenSmallLine"></div>
      <div class="PenTip"></div>
    </button>
  </div>
  <div class="FormCont">
    <button class="ContactMeBTN" (click)="showFormFields = !showFormFields">
      CONTACT ME HERE
    </button>
    <form *ngIf="showFormFields" class="FormFields">
      <div class="Column">
        <input
          class="SmallInput"
          type="text"
          id="firstName"
          name="firstname"
          placeholder="First name"
          [(ngModel)]="firstName"
        />
        <input
          class="SmallInput"
          type="text"
          id="lastName"
          name="lastname"
          placeholder="Last name"
          [(ngModel)]="lastName"
        />
        <input
          class="SmallInput"
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          [(ngModel)]="email"
        />
      </div>
      <div class="Column">
        <textarea
          class="SmallTextarea"
          id="message"
          name="message"
          placeholder="Your message.."
          [(ngModel)]="message"
        ></textarea>
        <input
          class="SendBTN"
          type="submit"
          name="send"
          id="send"
          value="SEND"
          (click)="onSubmit()"
        />
      </div>
    </form>
  </div>
</main>
