<main class="AboutPage">
  <h1 class="AboutTitle">Baxter Sjoberg</h1>
  <div class="AboutCont">
    <img class="AboutPic" src="../../../assets/baxi.png" />
    <p class="BodyText">My name is Baxter, i'm 5 yo.</p>
  </div>
  <div class="FormCont">
    <button class="ContactMeBTN" (click)="showFormFields = !showFormFields">
      CONTACT ME HERE
    </button>
    <form *ngIf="showFormFields" class="FormFields">
      <div class="Column">
        <input
          class="SmallInput"
          type="text"
          id="firstName"
          name="firstname"
          placeholder="First name"
        />
        <input
          class="SmallInput"
          type="text"
          id="lastName"
          name="lastname"
          placeholder="Last name"
        />
        <input
          class="SmallInput"
          type="email"
          id="contact"
          name="contact"
          placeholder="Email"
        />
      </div>
      <div class="Column">
        <textarea
          class="SmallTextarea"
          id="message"
          name="message"
          placeholder="Your message.."
        ></textarea>
        <input class="SendBTN" type="submit" value="SEND" />
      </div>
    </form>
  </div>
</main>
